/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
  
}

 /* .series1 {
	-fx-bar-fill: "white";
	visibility: hidden;
	
}*/

 /* .series8 {
	visibility: hidden;
	
}*/

.label {
	-fx-font-size: 30;
}
/* 
.label:disabled, .label:disabled > * {
	-fx-text-fill: black;
  	-fx-font-size: 16;
}*/


/* .data0.chart-bar {
	-fx-bar-fill: gold;
}*/